@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,400');

body {
  font-family: "lato";
  font-weight: 100;
}

h1, h3 {
    font-family: "lato";
    font-weight: 100;
}
h1{
  font-size: 60px;
}
.main-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 1200px;
}
.player-one-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 400px;
  height: 600px;
  text-align: center;
}
.player-two-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 400px;
  height: 600px;
  text-align: center;
}
.game-settings {
  display: flex;
  flex-direction: column;
  background-color: #FF6B6B;
  width: 400px;
  height: 600px;
  text-align: center;
}
#main-score-player-one, #main-score-player-two {
  font-size: 70px;
  color: red;
}
img {
  width: 50%;
  margin: auto;
}
button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-family: 'lato';
  font-weight: 100;
}
button:hover {
  background-color: transparent;
  border: none;
  font-size: 35px;
  font-family: 'lato';
  font-weight: 100;
}
